version: '3'

services:
    db:
        image: postgres
        environment:
            POSTGRES_PASSWORD: postgres
    web:
        build: .
        command: python mannage runserver 0.0.0.0:8000
        volumes:
            - .:/code
        ports: 
            - "8000:8000"
        depends_on:
            - db